<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main class="container">
        <div class="jumbotron">
            <h1>AUTORI: </h1>
            <p>Accardo Colasante D'Alessandro Gioffrè</p>
        </div>
        <div class="card-group">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://gitlab.com/uploads/-/system/user/avatar/342733/FColasante.png?width=400" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Francesco Colasante</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Profilo Gitlab</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://secure.gravatar.com/avatar/a774fc7f0f913d4e9300a6d032949b12?s=800&d=identicon" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Alessandro Accardo</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Profilo Gitlab</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://gitlab.com/uploads/-/system/user/avatar/1863772/avatar.png?width=400" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Gianmarco D'Alessandro</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="https://gitlab.com/zascerta" class="btn btn-primary">Profilo Gitlab</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://gitlab.com/uploads/-/system/user/avatar/3268750/avatar.png?width=400" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Luca Gioffrè
                    </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="https://gitlab.com/balthier" class="btn btn-primary">Profilo Gitlab</a>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>
